@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    font-family: "JetBrains Mono", monospace;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(10, 10, 10);
    background-size: cover;    
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.central{
    background-color: #272727;
    width: 400px;
    height: 790px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.central-title{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.central-title h1{
    font-size: 30px;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

hr{
    background: #52E252;
    width: 200px;
    height: 2px;
    border: none;
    outline: none;
}

.central-inputs{
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.central-inputs input{
    height: 40px;
    width: 400px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #5f5f5f;
    color: #FFF;
    font-size: 20px;
}

.central-inputs input::placeholder{
    color: #fff;
    font-size: 20px;
}

.central-inputs input:focus{
    background-color:#52E252;
    color: #000000;
    transition: 0.6s;
}

.central-inputs span{
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}

.central-image{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 400px;
}

.central-image img{
    height: 200px;
    width: 200px;
}

.central button{
    color: #000000;
    background: #52E252;
    box-shadow: 0 0 25px #52E252;
    width: 180px;
    height: 60px;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
}

.central button:hover{
    box-shadow: 0 0 5px #52E252,
              0 0 25px #52E252,
              0 0 50px #52E252,
              0 0 100px #52E252;
    transition: 0.7s;
}

#resultado{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 20px;
}